body {
    background: rgb(145, 130, 130);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1 {
    font-size: 250%;
    color: rgb(6, 3, 187);
    text-align: center
} 
 a {
    border: 2px solid black;
}
.teal {
    text-align: center;
}

li {
    margin-inline: left;
}

 nav{ align-content: center;
    padding: 20px;
    background-color: aliceblue;
    display: list-item;
    text-align: center;
    border: none;
    font-size: 20px;
    margin: 20px;
}

#attributesArticle {
    text-align: center;
    float: bottom;
}
ol li p {
    float: top;
}

.image {
    border: 2px solid black;
    margin-inline: left;
    float: left;
}